# **Fundamentos da Matemática para Análise de Dados**

# *DIA 1 (21/06 das 19h às 21h)*


---

- PYTHON: Conceitos básicos.
- PRINCIPAIS TIPOS DE DADOS: Numéricos, cadeia de caracteres, buleanos.
- CONVERSÃO DE DADOS: Como consultar e modificar o tipo de um dado.
- PEMDAS: Parêntesis, Exponenciação, Multiplicação, Divisão, Adição e Subtração.
- AMOSTRA & POPULAÇÃO.
- VARIÁVEIS QUANTITATIVAS E QUALITATIVAS.
- LISTAS E DATAFRAMES.

### **Python**
Para este workshop, a linguagem de programação que utilizaremos será o python. Esta linguagem pode ser usada para diversas finalidades como desenvolvimento web, desenvolvimento de aplicativos, automação de processos, aprendizado de máquina, entre outros. Nós o utilizaremos para manipulação, análise e visualização de dados.

Antes de começar, vamos aprender algumas funcionalidades e regras do python:

#### - **DECLARAR UMA VARIÁVEL**

In [7]:
## DECLARAR UMA VARIÁVEL

''' Temos a liberdade de criar variáveis para serem reutilizadas ao longo do notebook. 
    Um exemplo seria criar uma variável de nome 'a' que represente o valor numérico 8
'''

a = 8

''' Podemos então acessar este valor usando a função print()
'''

print(a)

8

In [9]:
''' ALERTA: Os nomes a serem utilizados para declarar uma variável 
    nunca podem começar com números ou caracteres especiais:
'''

a = 8     # Esta linha está CORRETA
1a = 8    # Esta linha está ERRADA (SyntaxError: invalid syntax)
-a = 8    # Esta linha está ERRADA (SyntaxError: invalid syntax)
%a = 8    # Esta linha está ERRADA (SyntaxError: invalid syntax)
_a = 8    # Esta linha está CORRETA (underline funtiona)

SyntaxError: invalid syntax (1132883926.py, line 6)

In [ ]:
# Outro exemplo (sem letras)

_2011 = 14000
print(_2011)

#### - **PRINCIPAIS TIPOS DE DADOS**: Numéricos, cadeia de caracteres, buleanos

In [ ]:
''' Podemos criar variáveis de todos os tipos de dados:
'''

# Numérico
''' INTEGER: Números inteiros.'''

a = 8

''' FLOAT: Ponto Flutuante: é um formato de representação digital de 
    números racionais, que é usada nos computadores.'''

b = 5.2


# Cadeia de caracteres (string)
''' As cadeias de caracteres podem conter todos os tipos de caracteres, 
    incluindo letras, números e até caracteres especiais. Sempre quando
    estejam entre aspas simples ou aspas duplas, serão interpretados 
    nesta categoria de string.'''

g = 'palavra'
h = '123456'
i = 'AbC13'

# Buleano
''' O tipo buleano (boolean) se resume a Verdadeiro (True) e Falso (False).
    Vale sempre lembrar que na sua forma numérica, o Falso é representado por 0
    (zero) enquanto que o Verdadeiro é representado pelo número 1 (um).'''

t = True
f = False

In [ ]:
''' Agora que declaramos algumas variávieis de tipos diferentes,
    vamos apresentar cada uma delas por meio do print()
'''

# Numérico
print(a)

# Cadeia de caracteres
print(i)

# Buleano
print(t)

#### - **FAÇA VOCÊ MESMO**: Declare algumas variáveis com:

In [ ]:
# Seu nome (string)
nome = 'RESPOSTA'

# Sua idade (integer)
idade = 'RESPOSTA'

# Sua altura (float)
altura = 'RESPOSTA'

# Seu esporte favorito (string)
esporte_favorito = 'RESPOSTA'

# Se você está gostando do workshop até agora (boolean)
gostando_ws = 'RESPOSTA'

In [ ]:
# Agora, apresente todas essas variáveis usando o print()

'RESPOSTA'

#### - **CONVERSÃO DE DADOS**: Como consultar e modificar o tipo de um dado.

In [ ]:
## Consultar o tipo da variável com a função type()

''' Utilizando as mesmas variáveis que criamos anteriormente, 
    vamos consultar o tipo de cada uma delas para ver o que o python nos diz:
    (utilizaremos a função type() para verificar o tipo da variável
'''

# Numérico
a = 8
b = 5.2

# Cadeia de caracteres (string)
g = 'palavra'
h = '123456'
i = 'AbC13'

# Buleano
t = True
f = False

print(a)
print(type(a))

print('---------')

print(b)
print(type(b))

print('---------')

print(h)
print(type(h))

print('---------')

print(t)
print(type(t))

In [ ]:
## Converter de um tipo para outro.

''' Como você pode notar, tivemos uma variável de nome 'h' 
    cujo valor era um número, porém seu tipo era 'string' (cadeia de caracteres)
    por como ela foi declarada (usando aspas). Vamos então converter essa 
    variável aos diferentes tipos de dados que conhecemos até agora:
'''
h = '123456'

# Print da variável 'h' na forma em que foi criada (str)
print(h)
print(type(h))

print('---------')

# h_int: De str para int (inteiro)
h_int = int(h)
print(h_int)
print(type(h_int))

print('---------')

# h_float: De str para float (ponto flutuante/números racionais)
h_float = float(h)
print(h_float)
print(type(h_float))

print('---------')

# h_bool: De str para bool (Buleano = True/False)
''' O número 0 (zero) na sua forma buleana representa o falso (False).
    Todos os outros números representam verdadeiro (True)
'''
h_bool = bool(h)
print(h_bool)
print(type(h_bool))

#### - **PEMDAS**: Parêntesis, Exponenciação, Multiplicação, Divisão, Adição e Subtração.

Agora vamos discutir as diferentes operações matemáticas e a ordem de prioridade quando aplicamos mais de uma delas em uma mesma linha de código.

In [ ]:
############ Subtração: ############
''' A subtração nada mais é do que a operação de restar um valor numérico de 
    outro, podendo resultar em um valor numérico positivo ou negativo.
'''

# Inteiros
j = -10
k = 20

print(k-j)
print(j-k)

# Float
m = 0.8
o = -0.3

print(m-o)
print(o-m)

In [ ]:
############ Adição: ############
''' A adição nada mais é do que a operação de somar um valor numérico a outro, 
    podendo resultar em um valor numérico positivo ou negativa.
'''

# Inteiros
j = -10
k = 20

print(k+j)
print(j+k)

# Float
m = 0.8
o = 0.3

print(m+o)
print(o+m)

In [ ]:
############ Divisão: ############

# Inteiros
j = -10
k = 20

print(k/j)
print(j/k)

# Float
m = 0.8
o = 0.3

print(m/o)
print(o/m)

In [ ]:
############ Multiplicação: ############

# Inteiros
j = -10
k = 20

print(k*j)
print(j*k)

# Float
m = 0.8
o = 0.3

print(m*o)
print(o*m)

In [10]:
############ Exponenciação: ############

# Inteiros
j = 3
k = 4

print(k**j)
print(j**k)

# Float
m = 0.8
o = 0.3

print(m**o)
print(o**m)

64
81
0.9352484478226214
0.3816778909618176

In [11]:
############ Parêntesis: ############
''' O parêntesis agrupa uma ou mais operações e a trata 
    prioritariamente em relação à qualquer outra operação na linha de código. 
    Quando há mais de um parêntesis, estes são tratados de forma independente.
'''

a = 2
b = 4
c = 0.5
d = -2

res_1 = a+b*c/d
res_2 = ((a+b)*c)/d

print(res_1)
print(res_2)

1.0
-1.5

In [12]:
# Outro exemplo usando parênteses
a = 2
b = 4
c = 0.5
d = -2

res_3 = (a+b)-(b/a)+(d*c)
# (6)-(2)+(-1)
# 6-2-1 = 3
print(res_3)

3.0

#### - **FAÇA VOCÊ MESMO**: Responda algumas perguntas a partir das variáveis que você declarou sobre você:

In [15]:
nome, idade, altura, esporte_favorito,gostando_ws = 'Nicolas', 24, 160, 'Rubiks cube', 'sim'

# Seu nome (string)
print(nome)

# Sua idade (integer)
print(idade)

# Sua altura (float)
print(altura)

# Seu esporte favorito (string)
print(esporte_favorito)

# Se você está gostando do workshop até agora (boolean)
print(gostando_ws)

Nicolas
24
160
Rubiks cube
sim

In [16]:
# Quantos anos faltam para você atingir os 100 anos? (Aplique a operação matemática)

In [17]:
# Calcule a sua idade ao quadrado:

In [18]:
# Calcule a raiz quadrada da sua idade:

In [19]:
# De quantos centimetros você precisaria para ter 2.5 metros?

In [20]:
# Faça o print() de uma frase usando todas as variáveis criadas sobre você:

### **POPULAÇÃO & AMOSTRA**

Supanhamos que queremos fazer uma análise sobre a popularidade da cerveja entre os brasileiros. Queremos entender se a cerveja é a bebida preferida dos brasileiros e queremos entender também se existe uma marca de preferência.

In [21]:
# População Geográfica
''' Geograficamente falando, como diz o enunciado, seriam todos os brasileiros'''

# População Estatística
''' Sabemos que nem todos os brasileiros são elegíveis a participarem deste estudo,
    ou seja, nem todos os brasileiros consomem bebidas alcoólicas, nem todos os
    brasileiros são maiores de idade. 
    Dito isto, a população estatística sempre será menor que a população geográfica
'''

# Amostra
''' Imagine agora se fôssemos perguntar a todos os elementos
    da nossa população estatística, ou seja, todos os brasileiros que consomem
    bebidas alcoólicas no Brasil, qual é sua bebida de preferência e, caso seja 
    cerveja, qual é a sua marca favorita. Claramente isto seria muito custoso,
    logo precisamos extrair uma porção que represente a população estatística.
    Esta porção se chama AMOSTRA e o processo de extrair esta porção se chama
    AMOSTRAGEM.
'''

' Imagine agora se fôssemos perguntar a todos os elementos\n    da nossa população estatística, ou seja, todos os brasileiros que consomem\n    bebidas alcoólicas no Brasil, qual é sua bebida de preferência e, caso seja \n    cerveja, qual é a sua marca favorita. Claramente isto seria muito custoso,\n    logo precisamos extrair uma porção que represente a população estatística.\n    Esta porção se chama AMOSTRA e o processo de extrair esta porção se chama\n    AMOSTRAGEM.\n'

### **VARIÁVEIS QUANTITATIVAS E QUALITATIVAS**

As variáveis de um estudo ou análise podem ser classificadas entre variáveis QUANTITATIVAS e QUALITATIVAS

In [22]:
############ VARIÁVEIS QUANTITATIVAS ############
''' São aquelas variáveis que representam quandidades, ou seja, números usados
    para medir alguma coisa. Estes números podem ser inteiros ou números 
    racionais (que contém casas decimais). 
'''

## Variável Quantitativa Discreta 
''' Quando os números são inteiros chamamos a variável quantitativa de DISCRETA. 
    
    Por exemplo: Idade, núumero de filhos, quantidade de tênis.
'''

## Variável Quantitativa Contínua 
''' Quando os números são racionais, ou seja, contém casas decimais a variável é 
    chamada de variável quantitativa CONTÍNUA. 

    Por exemplo: Altura, peso, distância percorrida.
'''

# ------------------------------------------------------------------------------

############ VARIÁVEIS QUALITATIVAS ############
''' São aquelas variáveis que representam categorias para descrever ou
    identificar alguma coisa. Estas palavras podem ter uma ordem sequencial ou
    hierarquica ou podem representar apenas uma característica. 
'''

## Variável Qualitativa Ordinal 
''' Quando a variável qualitativa tem uma ordem sequencial, ou alguma
    ordem específica atrelada, nós chamamos de variável qualitativa ORDINAL.
    
    Por exemplo: Nível de ensino, nível de experiência.
'''

## Variável Qualitativa Nominal 
''' Quando a variável qualitativa representa apenas uma característica de um 
    elemento, chamamos de variável qualitativa NOMINAL.
    
    Por exemplo: Gênero musical, esporte.
'''

' Quando a variável qualitativa representa apenas uma característica de um \n    elemento, chamamos de variável qualitativa NOMINAL.\n    \n    Por exemplo: Gênero musical, esporte.\n'

### **BIBLIOTECAS**

Com os conceitos discutidos até o momento, vamos continuar com alguns dados fictícios e aplicar o conhecimento em uma escala maior. Para isso precisaremos importar algumas **bibliotecas** ao notebook e definir alguns conceitos novos.

##### **- Mas o que são bibliotecas?**

##### Uma biblioteca é uma coleção de recursos usada por programa de computador, ou seja, é um conjunto de funções que foram escritas e disponibilizadas por desenvolvedores. Neste workshop utilizaremos as bibliotecas: Numpy, Statistics, Matplotlib e principalmente Pandas.

##### **- Pandas, Numpy, Statistics e Matplotlib**

##### **Pandas**: Uma biblioteca que contém recursos utilizados para manipulação e análise de dados. Vamos utilizar também uma estrutura chamada Dataframe com esta biblioteca.

##### **Numpy**: Uma biblioteca muito útil para execução de tarefas matemáticas em grande escala. Neste workshop, essa biblioteca vai nos ajudar a executar tarefas matemáticas no Dataframe.

##### **Statistics**: Uma biblioteca que nos ajudará com as medidas de centralidade em uma escala menor.

##### **Matplotlib**: Uma biblioteca muito utilizada para visualização de dados por meio de geração de gráficos 2D.

### **- Como acessar essas bibliotecas?**
##### Como primeiro passo do processo vamos importar (**import**) cada uma das bibliotecas e dar um pseudônimo (**alias**) para facilitar na hora de chamar as funções de cada uma dessas bibliotecas:

In [23]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt

Agora vamos utilizar a função **pd.read_csv()** para importar os dados ao notebook:

In [24]:
url = "https://raw.githubusercontent.com/rafands/ebac-course-content/main/amostra_ficticia.csv" 
af = pd.read_csv(url, sep=';')

Podemos também validar a importação observando as primeiras linhas do arquivo utilizando **head()**

In [25]:
# .head()

print(af.head())

   ID  IDADE  PESO  ALTURA
0   1     26   112    1.80
1   2     38    84    1.78
2   3     36    67    1.60
3   4     41   106    1.83
4   5     36   106    1.72

### **DATAFRAME**

É uma estrutura de dados bidimensional, contendo linhas e colunas. Uma tabela de dados mutável, algo equivalente a uma planilha de excel. O PANDAS proporciona uma série de funcões que podemos utilizar para manipular essa estrutura, a função **'.head()'** sendo uma delas.

Documentação: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [26]:
print(type(af))

<class 'pandas.core.frame.DataFrame'>

### **LISTAS**
Outra estrutura que precisaremos neste workshop são as listas. Uma lista é uma variável onde podemos armazenar multiplos valores/itens, não necessariamente do mesmo tipo. Estes itens são colocados entre colchetes [ ].

***Não vamos nos aprofundar no tema de listas, mas vamos utilizar esta estrutura na hora de interagir com nosso Dataframe.***

In [27]:
# Exemplo de Lista (declarando uma nova variável chamada L)

L = [1,2,3,4,5,6]
print(L)
print(type(L))

# ou
print('------------')

LL = list([1,2,3,4,5,6])
print(LL)
print(type(LL))


''' Não vamos nos aprofundar no tema de listas, mas vamos utilizar esta
    estrutura na hora de interagir com nosso Dataframe.
'''

[1, 2, 3, 4, 5, 6]
<class 'list'>
------------
[1, 2, 3, 4, 5, 6]
<class 'list'>

' Não vamos nos aprofundar no tema de listas, mas vamos utilizar esta\n    estrutura na hora de interagir com nosso Dataframe.\n'

##### **Propriedades de um Dataframe**

Existem algumas funções que podemos utilizar para entender algumas características do nosso Dataframe como: Nomes das colunas, quantidade de colunas e linhas, quantidade de elementos, tipos de dados, entre outros.
(repare que as funções que descrevem propriedades do dataframe não tem nenhum parâmetro envolvido, ou seja, não haverão parênteses)

In [28]:
# .columns
''' Para ver todas as colunas existentes no nosso Dataframe 'af': 
'''

print(af.columns)

Index(['ID', 'IDADE', 'PESO', 'ALTURA'], dtype='object')

In [29]:
# .shape
''' Para ver a quantidade de colunas e a quantidade de linhas: 
    (linhas, colunas)
'''

print(af.shape)

(500, 4)

In [30]:
# .size
''' Para ver a quantidade de elementos no dataframe, ou seja,
    quantidade de colunas x quantidade de linhas: 
'''

print(af.size)

2000

In [31]:
# .dtype
''' Para ver a quantidade de elementos no dataframe, ou seja,
    quantidade de colunas x quantidade de linhas: 
'''

print(af.dtypes)

ID          int64
IDADE       int64
PESO        int64
ALTURA    float64
dtype: object

##### **Métodos para um Dataframe**

As funções que usamos para manipular ou visualizar o dataframe. Estas sim disponibilizam parâmetros que podemos passar para escolhermos o que queremos fazer com a função.

In [32]:
# .head()
''' Trazer as primeiras 7 linhas do dataframe:
'''

print(af.head(7))

   ID  IDADE  PESO  ALTURA
0   1     26   112    1.80
1   2     38    84    1.78
2   3     36    67    1.60
3   4     41   106    1.83
4   5     36   106    1.72
5   6     27    82    1.95
6   7     25    74    1.86

In [33]:
# .tail()
''' Trazer as últimas 3 linhas do dataframe:
'''

print(af.tail(3))

      ID  IDADE  PESO  ALTURA
497  498     45   125    1.76
498  499     43   116    1.92
499  500     40    87    1.71

In [34]:
# .sort_values
''' Trazer o Dataframe ordenado por Idade (em ordem decrescente)
'''

print(af.sort_values('IDADE', ascending=False).head())

      ID  IDADE  PESO  ALTURA
458  459     45   108    1.70
30    31     45    78    1.73
231  232     45   115    1.90
454  455     45    96    1.97
457  458     45    64    1.99

In [35]:
# .sort_values
''' Trazer o Dataframe ordenado por Idade (em ordem decrescente) 
    e Peso (em ordem crescente)
'''

print(af.sort_values(['IDADE','PESO'], ascending=[False,True]).head())

      ID  IDADE  PESO  ALTURA
317  318     45    62    1.97
391  392     45    64    1.61
457  458     45    64    1.99
311  312     45    68    1.98
30    31     45    78    1.73

In [36]:
# Selecionando uma coluna específica
''' Agora que descobrimos como acessar a lista de colunas disponíveis em um 
    dataframe, vamos selecionar apenas a coluna 'IDADE':
'''

af_IDADE = af[['IDADE']]

print(af_IDADE.head())

   IDADE
0     26
1     38
2     36
3     41
4     36

In [37]:
# Selecionando colunas específicas
''' Agora que descobrimos como acessar a lista de colunas disponíveis em um 
    dataframe, vamos selecionar apenas algumas colunas:
'''

af_CORPO = af[['ALTURA','PESO']]

print(af_CORPO.head())

   ALTURA  PESO
0    1.80   112
1    1.78    84
2    1.60    67
3    1.83   106
4    1.72   106

In [38]:
# .drop()

''' Para eliminar uma ou mais colunas usamos a função drop()
    Vamos eliminar a coluna 'ID' considerando que o dataframe já criou um 
    ID para cada linha quando importamos o arquivo:
'''

print(af.drop('ID',axis=1).head())

   IDADE  PESO  ALTURA
0     26   112    1.80
1     38    84    1.78
2     36    67    1.60
3     41   106    1.83
4     36   106    1.72

In [39]:
# Incluir uma nova coluna

''' Para incluir uma coluna no dataframe, devemos dar a ela um nome e o
    o conteúdo com o qual queremos preencher essa nova coluna
'''

af[['PESO_AJUSTADO']] = af[['PESO']]+10
print(af.head())

   ID  IDADE  PESO  ALTURA  PESO_AJUSTADO
0   1     26   112    1.80            122
1   2     38    84    1.78             94
2   3     36    67    1.60             77
3   4     41   106    1.83            116
4   5     36   106    1.72            116

In [40]:
# Incluir uma nova coluna

''' Para incluir uma coluna no dataframe, devemos dar a ela um nome e o
    o conteúdo com o qual queremos preencher essa nova coluna
'''

af[['ALTURA_AJUSTADA']] = af[['ALTURA']]-0.04
print(af.head())

   ID  IDADE  PESO  ALTURA  PESO_AJUSTADO  ALTURA_AJUSTADA
0   1     26   112    1.80            122             1.76
1   2     38    84    1.78             94             1.74
2   3     36    67    1.60             77             1.56
3   4     41   106    1.83            116             1.79
4   5     36   106    1.72            116             1.68

In [41]:
# .rename()

''' Podemos alterar o nome das colunas de um Dataframe.
    Vamos supor que eu quero todas os nomes de colunas com letras minúsculas
'''

af.rename(columns={'IDADE':'idade',
                   'PESO':'peso',
                   'ALTURA':'altura',
                   'PESO_AJUSTADO':'peso_ajustado',
                   'ALTURA_AJUSTADA':'altura_ajustada'
                   }
          ).head()

#af.head()

   ID  idade  peso  altura  peso_ajustado  altura_ajustada
0   1     26   112    1.80            122             1.76
1   2     38    84    1.78             94             1.74
2   3     36    67    1.60             77             1.56
3   4     41   106    1.83            116             1.79
4   5     36   106    1.72            116             1.68

In [42]:
''' Para alterar permantemente o nome das colunas, temos que preencher de
    forma explícita o parâmetro 'inplace' como True
'''

af.rename(columns={'IDADE':'idade',
                   'PESO':'peso',
                   'ALTURA':'altura',
                   'PESO_AJUSTADO':'peso_ajustado',
                   'ALTURA_AJUSTADA':'altura_ajustada'
                   },
          inplace=True
          )

af.head()

   ID  idade  peso  altura  peso_ajustado  altura_ajustada
0   1     26   112    1.80            122             1.76
1   2     38    84    1.78             94             1.74
2   3     36    67    1.60             77             1.56
3   4     41   106    1.83            116             1.79
4   5     36   106    1.72            116             1.68

#***RECAP. DIA 1***


---

- PYTHON: Conceitos básicos.
- PRINCIPAIS TIPOS DE DADOS: Numéricos, cadeia de caracteres, buleanos.
- CONVERSÃO DE DADOS: Como consultar e modificar o tipo de um dado.
- PEMDAS: Parentesis, Exponenciação, Multiplicação, Divisão, Adição e Subtração.
- AMOSTRA & POPULAÇÃO.
- VARIÁVEIS QUANTITATIVAS E QUALITATIVAS.
- LISTAS E DATAFRAMES.

#### **Quer continuar praticando?**

In [43]:
''' Aqui está uma outra fonte de dados, desta vez do mundo real, disponibilizados
    pelo IBGE e encontrados no Kaggle, seguindo o link:
    https://www.kaggle.com/datasets/upadorprofzs/testes
'''

# A seguir, vamos importar os dados

url =  "https://raw.githubusercontent.com/rafands/ebac-course-content/main/dados_IBGE_pessoas.csv"  

pessoas = pd.read_csv(url, sep=';')

pessoas.head()

,UF_CODE,UF,UF_alt,Sexo,Idade,Anos de Estudo,Renda,Altura
0,11,Rondônia,Rondonia,Masculino,23,12,800,1.603808
1,11,Rondônia,Rondonia,Feminino,23,12,1150,1.739790
2,11,Rondônia,Rondonia,Feminino,35,15,880,1.760444
3,11,Rondônia,Rondonia,Masculino,46,6,3500,1.783158
4,11,Rondônia,Rondonia,Feminino,47,9,150,1.690631

In [44]:
# Aplique seus conhecimentos nesse Dataframe!