# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
sinasc_raw = pd.read_csv('../SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [4]:
print(sinasc_raw.shape)
sinasc_raw.describe(include='all').T

(27028, 69)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ORIGEM,27028.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CODESTAB,26913.0,NaN,NaN,NaN,3267628.727492,1122677.497349,15318.0,2496534.0,2798484.0,3970442.0,9659366.0
CODMUNNASC,27028.0,NaN,NaN,NaN,111037.796211,18102.751466,110001.0,110011.0,110020.0,110020.0,520870.0
LOCNASC,27028.0,NaN,NaN,NaN,1.011396,0.161679,1.0,1.0,1.0,1.0,4.0
IDADEMAE,27028.0,NaN,NaN,NaN,26.093718,6.387094,11.0,21.0,26.0,31.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...
munResUf,27028,1,Rondônia,27028,NaN,NaN,NaN,NaN,NaN,NaN,NaN
munResLat,27027.0,NaN,NaN,NaN,-10.377988,1.372942,-13.49976,-11.43387,-10.43595,-8.76889,-8.76889
munResLon,27027.0,NaN,NaN,NaN,-62.754987,1.26949,-65.32915,-63.83145,-63.03327,-61.94509,-60.13858
munResAlt,27027.0,NaN,NaN,NaN,179.111999,123.138365,85.0,87.0,153.0,191.0,595.0
munResArea,27027.0,NaN,NaN,NaN,14702.799767,13706.177751,459.978,3792.998,6896.648,34096.394,34096.394

In [14]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [10]:
# vamos criar as faixas através dos limites inferior e superior
print('Max:',sinasc_raw['munResLat'].min()) -14
print('Min:',sinasc_raw['munResLat'].max())  -9

Max: -13.49976
Min: -8.76889

In [11]:
latitude = pd.cut(sinasc_raw['munResLat'], [-14, -10.5, -9])
latitude.value_counts()

(-14.0, -10.5]    12993
(-10.5, -9.0]      5260
Name: munResLat, dtype: int64

In [24]:
sinasc_raw.groupby(latitude)[['QTDPARTNOR', 'QTDPARTCES']].agg(['sum','mean','min','max','median','std','var'])

               QTDPARTNOR                                                  \
                      sum      mean  min   max median       std       var
munResLat
(-14.0, -10.5]     5800.0  0.452242  0.0  41.0    0.0  1.123426  1.262087
(-10.5, -9.0]      2747.0  0.570983  0.0  10.0    0.0  1.086537  1.180563

               QTDPARTCES
                      sum      mean  min   max median       std       var
munResLat
(-14.0, -10.5]     7095.0  0.552570  0.0  12.0    0.0  0.753036  0.567062
(-10.5, -9.0]      2677.0  0.546327  0.0   4.0    0.0  0.737208  0.543475

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios com o PIB mais alto é a maior dentre todas.